build.opt
*.o

dist/
util/
lib/
ecur/
bin/chknewer
bin/ic

libecurses/*.h
libhelp/english.h
libhelp/english.hlp
libhelp/german.h
libhelp/german.hlp
libhelp/german.tmp
libhelp/hlpbld
libhelp/libhelp.h
libprd/mkicon
libprd/pgm.xbm
libres/english/*.c
libres/english/*.h
libres/english/*.res
libres/english/pgmi.*
libres/german/*.c
libres/german/*.h
libres/german/*.res
libres/german/pgmi.*
libres/resmkch
libres/restool
libwin/curses.h
libxvt/pcxterm
product/xt
product/xtx
support/FILES-ECURS
support/FILES-UNIX
support/FILES-UTILS
support/FILES-WINDOWS
support/INSTALL-UNIX
support/INSTALL-WINDOWS
support/LICENSE
support/TERMFILES-LIB
support/TERMFILES-PGM
support/sample.rc
support/sample.tmp
termutils/dispblks
termutils/dispbox
termutils/dispchrs
termutils/dispclrs
termutils/dispkeys
termutils/dispsnap
termutils/dispterm
termutils/dumpterm
termutils/playback
termutils/saveterm
termutils/termput
